
* {
    margin: 0;
    box-sizing: border-box;
}

#grid_wrapper_index {

    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: minmax(125px, 1.25fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr);

    grid-template-areas: 
    "nav"
    "cp1"
    "c1i"
    "cp2"
    "c2i"
    "cp3"
    "c3i"
    "cp4"
    "c4i"
    "cp5"
    "c5i"
    "cp6"
    "c6i"
    ;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 80%;
    transition: all 1s;
}

#car_pic1 {
    display: flex;
    justify-content: center;
    grid-area: cp1;
}

#xc60 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#car_pic2 {
    display: flex;
    justify-content: center;
    grid-area: cp2;
}

#m4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#car_pic3 {
    display: flex;
    justify-content: center;
    grid-area: cp3;
}

#car_pic4 {
    display: flex;
    justify-content: center;
    grid-area: cp4;
}

#car_pic5 {
    display: flex;
    justify-content: center;
    grid-area: cp5;
}

#car_pic6 {
    display: flex;
    justify-content: center;
    grid-area: cp6;
}

#rs6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#austin {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#mustang {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#m2 {
    width: 100%;
    height: auto;
    object-fit: cover;
}



#car1_info {
    grid-area: c1i;
    position: relative;
    
}

#car1_info:before{

    background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#car2_info {
    grid-area: c2i;
    position: relative;
}

#car2_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#car3_info {
    grid-area: c3i;
    position: relative;
    
}

#car3_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#car4_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#car4_info {
    grid-area: c4i;
    position: relative;
    
}

#car5_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#car5_info {
    grid-area: c5i;
    position: relative;
    
}

#car6_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#car6_info {
    grid-area: c6i;
    position: relative;
    
}

.car_info {
    list-style: none;

}


#car1_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
   
}


#car2_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    
}


#car3_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    
   
}

#car4_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
   
}

#car5_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
   
}

#car6_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
   
}

.car_info_text {
    font-size: 1.325rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


#burger_line1 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 20%;
    margin-right: 1rem;
    right: 10px;
    transition: all 1s;
        
}


#burger_line2 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 20%;
    margin-right: 1rem;
    right: 10px;
    transition: all 1s;
        
}

#burger_line3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 20%;
    margin-right: 1rem;
    right: 10px;
    transition: all 1s;   
}

.burger {
    position: absolute;
    right: 1rem;
}

.nav_links {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 500px;
    width: 25vh;
    position: absolute;
    top: -500px;
    right: 0vw;
    transition: all 1s;
    list-style: none;
    font-size: 1.125rem;
    z-index: 10;
}

ul a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.toggle .nav_links {

    transform: translateY(625px);
    
}

.toggle .logo {
   transform: translate(-6rem);
   transition: all 1s;
}


.toggle #burger_line2 {
    opacity: 0;
}

.toggle #burger_line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle #burger_line3 {
    transform: rotate(45deg) translate(-7px, -6px);
}


#grid_wrapper_motorcykles {
    
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    grid-template-rows: minmax(125px, 1.25fr) minmax(350px, 3.5fr) minmax(125px, 1fr) 10px minmax(350px, 3.5fr) minmax(125px, 1fr) 10px minmax(350px, 3.5fr) minmax(125px, 1fr) 10px minmax(350px, 3.5fr) minmax(125px, 1fr) 10px minmax(350px, 3.5fr) minmax(125px, 1fr) 10px;
    height: 100vh;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;

    grid-template-areas: 
    "nav nav"
    "mp1 mp2"
    "m1i m2i"
    "ma1 ma1"
    "mp3 mp4"
    "m3i m4i"
    "ma2 ma2"
    "mp5 mp6"
    "m5i m6i"
    "ma3 ma3"
    "mp7 mp8"
    "m7i m8i"
    "ma4 ma4"
    "mp9 mp9"
    "m9i m9i"
    "ma5 ma5"
    
    
    ;
}

#mc_pic1 {
    grid-area: mp1;
    display: flex;
    justify-content: center;
}

#mc_pic2 {
    grid-area: mp2;
    display: flex;
    justify-content: center;
}

#mc_pic3 {
    grid-area: mp3;
    display: flex;
    justify-content: center;
}

#mc_pic4 {
    grid-area: mp4;
    display: flex;
    justify-content: center;
}

#mc_pic5 {
    grid-area: mp5;
    display: flex;
    justify-content: center;
}

#mc_pic6 {
    grid-area: mp6;
    display: flex;
    justify-content: center;
}

#mc_pic7 {
    grid-area: mp7;
    display: flex;
    justify-content: center;
}

#mc_pic8 {
    grid-area: mp8;
    display: flex;
    justify-content: center;
}

#mc_pic9 {
    grid-area: mp9;
    display: flex;
    justify-content: center;
}



#mc1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#mc2 {
    width: 100%;
    height: auto;
    object-fit: cover;
}


#mc3 {
    width: 100%;
    height: auto;
    object-fit: cover;

}

#mc4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}


#mc5 {
    width: 100%;
    height: auto;
    object-fit: cover;
}


#mc6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#mc7 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#mc8 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#mc9 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    text-decoration: none;
    list-style: none;
}

.mc_info_text {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-left: 1rem;
}

.mc_info_model {
    color: black;
    position: relative;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

#mc1_info {

    position: relative;
    grid-area: m1i;
}

#mc1_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc2_info {

    position: relative;
    grid-area: m2i;
}

#mc2_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc3_info {

    position: relative;
    grid-area: m3i;
}

#mc3_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc4_info {

    position: relative;
    grid-area: m4i;
}

#mc4_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc5_info {

    position: relative;
    grid-area: m5i;
}

#mc5_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc6_info {

    position: relative;
    grid-area: m6i;
}

#mc6_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc7_info {

    position: relative;
    grid-area: m7i;
}

#mc7_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc8_info {

    position: relative;
    grid-area: m8i;
}

#mc8_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}

#mc9_info {

    position: relative;
    grid-area: m9i;
}

#mc9_info:before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(50%);

}


#mc1_info_list {
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
   
}


#mc2_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    
}


#mc3_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;

  
}


#mc4_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
}


#mc5_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
}


#mc6_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;

}

#mc7_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;

}

#mc8_info_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;

}

#mc9_info_list {
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;

}


#grid_wrapper_here_are_we {

    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: minmax(125px, 1fr) 400px 400px 400px;
    grid-template-areas:
    "nav"
    "p1c"
    "p2c"
    "p3c"
    ;
}

#place1 {
    grid-area: p1c;
    position: relative; 
}

#place2 {
    grid-area: p2c;
    position: relative; 
}

#place3 {
    grid-area: p3c;
    position: relative; 
}

#place1::before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 175px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(60%);

}


#place2::before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 175px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(60%);

}


#place3::before{

   background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 175px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(60%);
 

}

#place1_pic {
    display: flex;
    grid-area: p1c;

}

#place2_pic {
    display: flex;
    grid-area: p2c;

}

#place3_pic {
    display: flex;
    grid-area: p3c;

}

#dealer1 {
    width: 100%;
    height: auto;
    object-fit: cover;

}

#dealer2 {
    width: 100%;
    height: auto;
    object-fit: cover;

}

#dealer3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.place_title {
    margin-left: 1rem;
    position: relative;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.place_text {
    margin-left: 1.8rem;
    line-height: 1.4rem;
    font-family: 'Poppins', sans-serif;
    fill-opacity: 0;
    position: relative;
    color: black;
}

.place_section {
    margin-top: 1rem;
}

#grid_wrapper_about_us {
    height: 100vh;
    width: 100vw;
    display: grid;

    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: minmax(125px, 1fr) minmax(500px, 2fr)  minmax(500px, 2fr) minmax(500px, 2fr);

    grid-template-areas:
    "nav"
    "ohi"
    "hww"
    "pol"
    ;

}

#our_history_background {
    position: relative;
    grid-area: ohi;
}


#our_history_background::before{

    background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 235px;
    top: -1rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    filter: brightness(40%);
    margin: 0;
 
}

#how_we_work_background {
    position: relative;
    grid-area: hww;
  
}

#how_we_work_background::before{

    background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 235px;
    top: -1rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    filter: brightness(40%);
 
}


#policy_background {
    position: relative;
    grid-area: pol;
  
}

#policy_background::before{

    background-image: url(../img/gray3.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 235px;
    top: -1rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    filter: brightness(40%);
 
}


#policy {
    grid-area: pol;
    position: relative;
}

#policy::before{

   background-image: url(../img/policy1.jpg);
    content: "";
    background-position: top;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(110%);

}



#policy_pic {
    grid-area: hif;
    display: flex;
}

#our_history {
    grid-area: ohi;
    position: relative;

}


#our_history_pic {
    grid-area: ohp;
    position: relative;
}

#our_history::before{

   background-image: url(../img/history.jpg);
    content: "";
    background-position: top;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(110%);

}

#how_we_work {
    grid-area: hww;
    position: relative;
}


#how_we_work_pic {
    display: flex;
    grid-area: hwp;

    
}

#how_we_work::before{

    background-image: url(../img/car_key.jpg);
    content: "";
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: brightness(110%);
}

#costumer {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#old_cars {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#high_five {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.about_us_text {
    margin-top: 0.4rem;
    margin-left: 1.8rem;
    line-height: 1.4rem;
    font-family: 'Poppins', sans-serif;
    fill-opacity: 0;
    position: relative;
    color: black;
   
}

.about_us_title {

    margin-left: 1rem;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;

}

@media screen and (min-width: 800px) {

    #grid_wrapper_index {
        
        grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
        grid-template-rows: minmax(125px, 1.25fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr) minmax(350px, 3.5fr) minmax(75px, 1fr);
        
        grid-template-areas:
        "nav nav"
        "cp1 cp2"
        "c1i c2i"
        "cp3 cp4"
        "c3i c4i"
        "cp5 cp6"
        "c5i c6i"
        ;
    }

    #burger_line1 {
        transition: all 0s;
        position: absolute;
        top: -60vh;
            
    }
    
    
    #burger_line2 {
        transition: all 0s;
        position: absolute;
        top: -60vh;
            
    }
    
    #burger_line3 {
        transition: all 0s;
        position: absolute;
        top: -60vh;
    }
    
    .nav_links {

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
        top: 0vh;
        transition: all 0s;
        font-size: 1.4rem;
        position: relative;
    }

    .logo {
        transition: all 0s;
        margin-left: 20px;
    }


    #grid_wrapper_motorcykles {

        grid-template-columns: minmax(267px, 1fr)  minmax(267px, 1fr) minmax(267px, 1fr);
        grid-template-rows: minmax(125px, 1.25fr) minmax(350px, 3.5fr) minmax(155px, 1fr) minmax(350px, 3.5fr) minmax(175px, 1fr) minmax(350px, 3.5fr) minmax(175px, 1fr);

        grid-template-areas: 
        "nav nav nav"
        "mp1 mp2 mp3"
        "m1i m2i m3i"
        "mp4 mp5 mp6"
        "m4i m5i m6i"
        "mp7 mp8 mp9"
        "m7i m8i m9i"
        ;

    }

    .mc_info_text {
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        position: relative;
    }

    .mc_info_model {
        font-size: 1.5rem;
        margin-left: 1rem;
    }



    #grid_wrapper_here_are_we {

        grid-template-columns: minmax(400px, 1fr)  1fr minmax(400px, 1fr);
        grid-template-rows: minmax(125px, 1fr) minmax(350px, 2.8fr) minmax(350px, 2.8fr) minmax(350px, 2.8fr);
        grid-template-areas: 
        "nav nav nav"
        "p1c p1c p1c"
        "p2c p2c p2c"
        "p3c p3c p3c"
        ;
    }

    .place_text {
        line-height: 1.8rem;
        margin-left: 2rem;
        font-size: 1.125rem;
        position: relative;
    }

    .place_title {
        margin-left: 1rem;
        margin-top: 1.6rem;
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        position: relative;
    }

    #place1::before{
        width: 500px;
        height: 100%;
    
    }

    #place2::before{
        width: 500px;
        height: 100%;
    
    }

    #place3::before{
        width: 500px;
        height: 100%;
    
    }

    #grid_wrapper_about_us {

        grid-template-columns: 1fr;
        grid-template-rows: minmax(125px, 1fr) minmax(500px, 2.8fr) minmax(500px, 2.8fr) minmax(500px, 2.8fr);

        grid-template-areas: 
        "nav nav"
        "ohi ohp"
        "hww hwp"
        "pol hif"
        ;

    }

    .about_us_title {
        margin-left: 2rem;
        font-size: 1.8rem;
        position: relative;
    }

    .about_us_text {
        line-height: 1.8rem;
        margin-left: 2.8rem;
        font-size: 1.1rem;
        margin-right: 1rem;
        position: relative;
    }

   

   



    





}
    




